@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-texto: rgb(255, 255, 255);
    --cor-texto-hover: #979DA6;
    --cor-fundo1: #051326; /* rgb(8, 9, 17) */
    --cor-div-icones: #061F40;
    --cor-cards: #062540;
    --cor-hover: #061F40;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: #979DA6;
}

header{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    background-color:#f1eeee;
    transition: 1s;
}

header img{
    margin-right: 4rem;
    height: 2rem;
}

nav{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    background-color:var(--cor-fundo1);
    transition: 1s;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70rem;
}

li a{
    font-family: Poppins, sans-serif;
    color: var(--cor-texto);
    font-size: 1.3rem;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover{
    color:var(--cor-texto-hover) ;
}

nav img{
    width: 5rem;
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.foto1{
    width: 100%;
    opacity: 0.5;
}

h1{
    font-family: poppins;
    font-size: 3rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    color: #000000;
}

main{
    background-color: black;
    height: 50rem;
}

.main-info{
    position: relative;
    display: inline-block;
}

.chamada-acao{
    position: absolute;
    top: 25%;
    left: 19.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.chamada-acao h1{
    color: #f1eeee;
    font-size: 7rem;
    align-content: center;
}

.chamada-acao button{
    background-color: #0c1d8c;
    font-size: 2.5vw;
    color: #f1eeee;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transition: 1s;
}

.chamada-acao button:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: var(--cor-hover);
}

@media (max-width: 1px) {
  .chamada-acao {
    display: none;
  }

  .chamada-acao button {
    font-size: 4vw;
  }
}


.txts-icones{
    margin-top: -0.3rem;
    font-family: Poppins;
    font-size: 1rem;
    background-color: var(--cor-div-icones);
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    
}

.icone{
    flex-direction: column; /* empilha os textos verticalmente */
    align-items: center; /* centraliza horizontalmente */
    padding: 16px;
    border-radius: 8px;
    width: 30%; /* divide em 3 partes */
    text-align: center;
}

.icone:hover{
    color: var(--cor-hover);
}

.icone h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* ou 500 */
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.icone h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* ou 500 */
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}

.icone img{
    width: 70px; /* ajuste o tamanho da imagem */
    height: auto;
    margin-bottom: 10px; /* espaço entre imagem e texto */
}

.container{
    display: flex;
    gap: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card{
    position: ;
    font-family: Poppins;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--cor-texto);
    display: flex;
    background-color: var(--cor-cards);
    padding: 100px;
    transition: 1s;
}

.card:hover{
    background-color: var(--cor-fundo1);
    color: white;
    cursor: pointer;
}

h1:hover{
    cursor: pointer;
}

.option-preto, .option-preto:hover{
    background-color: rgb(255, 0, 0);
}

.option-branco, .option-branco:hover{
    background-color: rgb(255, 255, 255);
}

.option-azul, .option-azul:hover{
    background-color: rgb(34, 0, 255);
}

